{%extends 'all-app/base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awwardz</title>
    <style>
        /* got this style from:https://stackoverflow.com/questions/39198975/how-can-i-make-image-fit-in-div-django */
        
        #img-post {
            padding: 0;
            display: block;
            /* margin: 0 auto auto 0; */
            height: 100px;
            width: 100px;
            max-height: 100px;
            max-width: 100px;
        }
    </style>
</head>

<body>
    {% block content %} {{block.super}}
    <div class='container'>
        <div class="row">
            {% for proj in project %}
            <div class="thumbnail" style="background-image: white;">
                <img id="img-post" class="img-responsive" src='{{proj.screenshot.url}}' height='520' width='750'>
            </div>
        </div>
        {% for com in proj.comments_set.all %}
        <p>{{com.comment_cont}}</p>
        {% endfor %}
        <a href="{%url 'comment' proj.id%}" class="btn btn-primary">comment</a> {% endfor %}
    </div>
    {% endblock %}
</body>

</html>